/*CONTAINER*/


.container {
	max-width: 760px;
	margin: 0 auto;
	padding: 0 30px;
}

/*HEADER*/



#header {
	height: 70px;
}

#header-content {
	border-bottom: 1px solid #ddd;
}

#header-content h1 {
	margin: 0;
	line-height: 70px;
	font-size: 42px;
	font-family: "Sacramento", cursive;
	float: left;
	color: #3A3A3A
}

#nav {
	float: right;
}

#nav ul {
	margin: 0;
}

#nav li {
	font-family: "Open Sans", sans-serif;
	display: inline-block;
	font-size: 14px;
	line-height: 70px;
	margin: 0 20px;
}

#nav a {
	text-decoration: none;
	color: #63C8DA;
}

#nav a:hover {
	border-bottom: 1px solid #63C8DA;
}



/*BODY*/

#main {
	font-family: "Open Sans", sans-serif;
}

.month {
	margin-top: 50px;
	color: #ABA9A9;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
}

#main p {
	color: #ABA9A9;
	font-size: 13px;
}

#main ul {
	list-style: none;
}

#main li {
	margin: 20px 0;
}

#main a {
	text-decoration: none;
	color: #63C8DA;
	font-size: 15px;
}

#main a:hover {
	font-weight: bolder;
}

